<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Dialecto SQL -->
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>

		<!-- Configuración del acceso a la base de datos -->

		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.url">jdbc:hsqldb:mem:course</property>
		<property name="connection.username">sa</property>
		<property name="connection.password"></property>

		<!-- Pool de conexiones JDBC -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">1800</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        
        <!-- Transacciones. El valor elegido es el valor por defecto-->
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>

		<!-- Activar la gestión automática de sesiones -->
		<property name="current_session_context_class">thread</property>

		<!-- Desactivar el caché de segundo nivel -->
		<property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>

		<!-- Mostrar con formato las sentencias SQL generadas -->
		<property name="show_sql">true</property>
		<property name="format_sql">false</property>
		
		<!-- Actualizaciones en modo batch -->
        <property name="hibernate.jdbc.batch_size">20</property>

		<!-- Eliminar y volver a crear la base de datos -->
		<property name="hbm2ddl.auto">create-drop</property>
		<!-- 
		<property name="hbm2ddl.auto">update</property>
		 -->
		
		<!-- Instrucciones para Hibernate Search -->
        <property name="hibernate.search.default.directory_provider">org.hibernate.search.store.FSDirectoryProvider</property>
        <property name="hibernate.search.default.indexBase">target/indixes</property>

		<!-- Mapas clases-tablas -->
		<mapping class="org.course.hibernate.beans.User" />
		
	</session-factory>
</hibernate-configuration>
